body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: url("bg.jpg");

    
}

.content{
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.heading h1{
    font-size: 4rem;  
}

.heading i{
    padding-left: 1rem;
}

.location span{
    font-size: 2rem;
    padding: 0 0.25rem;
    text-transform: uppercase;
    font-weight: bold;
}

.temperature{
    font-size: 1.5rem;
}
.right-temp{
    cursor: pointer;
    padding-left: 0.25rem;
    color: aqua;
}

.climate{
    font-size: 1.5rem;
    font-weight: bold;
}

.fix{
    margin: 80px 0;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}